
    <% layout('layouts/boilerplate') %>
    <h1>All Restrooms</h1>
    
    <ul>
        <% for (let restroom of restrooms) {%>
        <div class="card mb-2">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= restroom.imageURL %>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        
                        <h5 class="card-title"><%= restroom.name %></h5>
                        <p class="card-text"><%= restroom.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= restroom.location %></small>
                        </p>
                        <a class="btn btn-primary" href="restrooms/<%= restroom._id %>">View this spot</a>
                    </div>
                </div>
            </div>
        </div>
      <% }%>
     </ul>
    

